<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-open="sidenavOpen">
  <md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools">{{ vm.sidebarTitle }}</h1>
  </md-toolbar>
  <md-content layout-padding>
    <form>
      <md-input-container>
        <label for="title">Roaster</label>
        <input type="text" id="roaster"
               ng-model="vm.classified.roaster" md-autofocus>
      </md-input-container>
      <md-input-container>
        <label for="price">Location & Farm</label>
        <input type="text" id="locationfarm"
             ng-model="vm.classified.locationfarm">
      </md-input-container>
      <md-input-container>
        <label for="description">Tasting Notes</label>
        <textarea type="text" id="tastingnotes"
              ng-model="vm.classified.tastingnotes">
        </textarea>
      </md-input-container>
      <md-input-container>
        <label for="elevation">Elevation</label>
        <textarea type="text" id="elevation"
              ng-model="vm.classified.info.elevation">
        </textarea>
      </md-input-container>
      <md-input-container>
        <label for="processing">Processing</label>
        <textarea type="text" id="processing"
              ng-model="vm.classified.info.processing">
        </textarea>
      </md-input-container>
      <md-input-container>
        <label for="variety">Variety</label>
        <textarea type="text" id="variety"
              ng-model="vm.classified.info.variety">
        </textarea>
      </md-input-container>
      <md-input-container>
        <label for="image">Image Link</label>
        <input type="text" id="image"
              ng-model="vm.classified.image">
      </md-input-container>
      <md-button ng-click="vm.saveEdit()" class="md-primary">
        Save Edit
      </md-button>
      <md-button ng-click="vm.closeSidebar()" class="md-warn">
        Cancel
      </md-button>
    </form>
  </md-content>
</md-sidenav>
